.App{
  /* border: 1px solid black; */
  width: 60%;
  margin: auto;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

#inp{
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  outline: black;
  padding-left: 50px;
  font-size: 20px;
}

.ii{
  position: absolute;
  padding: 10px;
  margin-top: 10px;
  font-size: 30px;
}
